body{
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: center;
}
.div{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
}
.container{
  height: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  background-color: rgb(31, 93, 187);
  padding: 5px;
  border-radius: 5px;
  justify-content: center;
}

input{
  width: 250px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 3px;
}

label{
  flex-direction: column;
}

button{
  width: 100px;
  height: 25px;
  opacity: 5px;
  border-radius: 3px;
  font-weight: bold;
  transition: all 0.5s;
  cursor: pointer;
  color:  rgb(31, 93, 187);
  margin-left: 2px;
  
}

button:hover{
 background: crimson;
 color: white;

}